.chat-window {
    flex: 1;
    overflow-y: auto;
    /*padding: 20px;*/
}
.chat-messages{
    padding: 20px;
}

.message {
    margin-bottom: 10px;
}

.message strong {
    margin-right: 5px;
}

.header-image {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%; /* Make it circular */
    margin-right: 20px; /* Space between image and name */

}

.header-name {
    font-size: 22px; /* Increase font size */
    font-weight: bold; /* Optional: Make the name bold */
    color: #333; /* Optional: Change color for better visibility */
}