.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 167, 132);
}

.Login-svg {
    margin-bottom: 70px;
    margin-top: -70px;
}

.login-image svg {
    width: 150px;
    height: 150px;
}
.login-image{
    margin-bottom:80px;
}

.login-container form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.login-container form label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.login-container form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container form button:hover {
    background-color: #45a049;
}
