.contact-list {
    padding: 0;
}

.search-bar {
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 10px;
    width: 90%;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
    margin: 10px;
    background-color: rgba(234, 231, 231, 0.77);
}

.sidebar-topper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /*border-bottom: 1px solid #ddd;*/
    /*background-color: #f8f8f8;*/
}

.sidebar-title {
    font-size: 25px;
    font-weight: bold;
}

.sidebar-topper-buttons {
    display: flex;
}

.topper-button {
    margin: 10px;
    padding: 0px 0px;
    border: none;
    /*background-color: #007bff;*/
    /*color: white;*/
    border-radius: 4px;
    cursor: pointer;
}

.topper-button:hover {
    background-color: #9b9fa5;
}
.sidebar-addContact-button-icon{
    height: 25px;
    width: 25px;
    background-color: white;
}



.contact-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.contact-item.selected {
    background-color: #f0f0f0;
}

.contact-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-name {
    /*font-weight: bold;*/
}

.contact-phone{
    font-size: 13px;
    color: #787878;
    margin-top: 2px;
}